@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/*REMOVE DEFAULT PADDING AND MARGIN */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
}

.loading h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
}

.loading img {
  width: 200px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
  height: 10vh;
}

.topbar .logo h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

.topbar .logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.topbar .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.5rem;
}

.topbar .picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search_bar_and_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 0;
}

.search_bar_and_filter input {
  width: 18rem;
  height: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  margin-left: 0.5rem;
  position: relative;
}

.search_bar_and_filter input ::-webkit-input-placeholder {
  color: #ccc;
}

.search_bar_and_filter input :-ms-input-placeholder {
  color: #ccc;
}

.search_bar_and_filter input ::-ms-input-placeholder {
  color: #ccc;
}

.search_bar_and_filter input ::placeholder {
  color: #ccc;
}

.search_bar_and_filter button {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  border: none;
  background: #ff5a5f;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

.products_container {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products_container .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products_container .products .product {
  width: 10rem;
  height: 15rem;
  background-color: #fff;
  margin: 0.3rem;
  padding: 0.2rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.products_container .products .product img {
  width: 9rem;
  height: 9rem;
}

.products_container .products .product .fa-heart {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(255, 90, 96, 0.5);
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products_container .products .product .fa-plus {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #ff5a5f;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products_container .products .product h4,
.products_container .products .product p {
  text-align: left;
  width: 85%;
}
/*# sourceMappingURL=style.css.map */